@import './variables';

.siteHeader {
    background-color: $black;
    height: 60px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    @media(max-width: 1025px) {
        max-width: 895px;
    }
}